.left
{
        float:left; margin:0 10px 0 20px;
}

.sy {
    position: absolute;
    text-align: center;
}

#container {
     width: 10%;
  }

.APC{
      position: absolute;
      top: 20px;
      left: 80%;
      width : 100px;
      height: 90px;
  }

.QUBIC{
    position: absolute;
    top: 20px;
    left: 75%;
    width : 100px;
    height: 100px;
}

.logoASEP
{
position: absolute;
top: 700px;
left: 70%;
width : 250px;
height: 125px;
}

.UdP
{
position: absolute;
top: 200px;
left: 70%;
width : 250px;
height: 250px;
}

.LogoLyon
{
position: absolute;
top: 1050px;
left: 70%;
width : 250px;
height: 125px;
}



.im_center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: var(--w);
  height: var(--h)
}

.im_left{
  display: block;
  margin-left: var(--l);
  margin-right: auto;
  margin-top: var(--t);
  width: var(--w);
  height: var(--h)
}

.im_right{
  display: block;
  margin-left: auto;
  margin-right: var(--r);
  margin-top: var(--t);
  width: var(--w);
  height: var(--h)
}

.text_right{
  display: block;
  margin-top: var(--t);
  margin-left: var(--l);
  margin-right: auto;
  width: var(--w);
  height: var(--h)
}

.text_left{
  display: block;
  margin-top: var(--t);
  margin-left: auto;
  margin-right: var(--r);
  width: var(--w);
  height: var(--h)
}

.center_table{
margin:auto;
}



table
{
    border-collapse: separate;
}
td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
}





.onglet
{
        display:inline-block;
        margin-left:3px;
        margin-right:3px;
        padding:10px;
        border:1px solid black;
        cursor:default;
}
.onglet_1
{
        background:#FFFFFF;
        border-bottom:1px solid black;
}
.onglet_2
{
        background:#FFFFFF;
        border-bottom:1px solid black;
}
.onglet_3
{
        background:#FFFFFF;
        border-bottom:1px solid black;
}

.onglet_4
{
        background:#FFFFFF;
        border-bottom:1px solid black;
}

.onglet_5
{
        background:#FFFFFF;
        border-bottom:1px solid black;
}
.contenu_1
{
        background-color:#FFFFFF;
        border:1px solid white;
        margin-top:-1px;
        padding:5px;
}

.contenu_2
{
        background-color:#FFFFFF;
        border:1px solid white;
        margin-top:-1px;
        padding:5px;
}
.contenu_3
{
        background-color:#FFFFFF;
        border:1px solid white;
        margin-top:-1px;
        padding:5px;
}
.contenu_4
{
        background-color:#FFFFFF;
        border:1px solid white;
        margin-top:-1px;
        padding:5px;
}
.contenu_5
{
        background-color:#FFFFFF;
        border:1px solid white;
        margin-top:-1px;
        padding:5px;
}

.Degrade {
  background-image:linear-gradient(white, black);
         }

.bordereau_parcours{
  background: #B1B1B1;
  font: 120% "American Typewriter", Georgia
}


hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: #FFFFFF;
    padding: 0 10px;
    position: relative;
    top: -13px;
}

ul
{
        margin-top:0px;
        margin-bottom:0px;
        margin-left:-10px
}
h1
{
        margin:20px;
        padding:0px;
}

body
{
  width:auto;
  margin:auto;
  min-width:600px;
  max-width:2000px;
	padding: 0 ;
	font: 100% "Arial", Georgia ;
	background: #FFFFFF ;
}



/* Menu des langues */
